* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

p,a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Arial", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

ul{
    list-style: none;
}

body .tren_cung {
    width: 100vw; 
    height: 100vh;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 2000;
    background-color: rgba(51, 51, 51, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.tren_cung > div {
    width: 40%;
    height: 80%;
    background-color: #fff;
    border-radius: 20px;
    padding: 40px;
}

.tren_cung > div>img:first-child{
    width: 250px;
}

.tren_cung > div> .first{
    width: 60%;
    font-size: 25px;
    margin-bottom: 70px;
}

.tren_cung > div> .nut{
    display: block;
    width: 100%;
    height: 50px;
    background-color: #fff;
    border-radius: 40px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-weight: normal;
}

.nut img, .nut svg{
    width: 30px;
    height: 30px;
    margin-left: 20px;
    margin-right: 20%;
}

.tren_cung div .cuoi1,.cuoi2{
    width: 90%;
    margin: auto;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
}

.tren_cung div .cuoi1{
    margin-top: 60px;
    width: 70%;
}

.tren_cung div .cuoi1 a,.cuoi2 a{
    font-weight: normal;
    font-size: 14px;
    text-decoration: underline;
}

@media screen and (max-width:1080px){
    .tren_cung div{
        width: 90%;
        height: 90%;
    }
    .tren_cung div .cuoi1{
        margin-top: 50px;
        width: 80%;
    }
}

.under_pb {
    width: 80%;
    height: auto;
    margin: auto;
    background-color: rgb(241, 236, 241);
    border-radius: 20px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-bottom: 10px;
}

#pbmot{
    border-radius: unset;
}

.under_pb .tong {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.under_pb .tong img {
    width: 140px;
    height: 100%;
    padding: 10px 0px 10px 10px;
    transform: rotate(-2.7deg);
    border-radius: 20px;
}


.under_pb .tong > .first {
    width: 60%;
    height: 100%;
}

.under_pb .tong > .last {
    width: 15%;
    height: 100%; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.under_pb .tong > .last a {
    font-size: 14px;
    background-color: #fff;
    color: black;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid black;
    text-decoration: none;
}

.under_pb .tong > .last a:hover{
    color: #fff;
    background-color: black;
}

.under_pb .tong > .first p:first-child {
    width: 29%;
    padding: 2px 10px;
    background-color: rgb(185, 181, 181);
    border-radius: 10px;
    font-weight: normal;
    font-size: 13px;
}

.under_pb .tong > .first p:last-child {
    font-weight: normal;
    font-size: 15px;
}

@media screen and (max-width:1300px){
    .under_pb{
        width: 100%;
        border-radius: 0;
    }
    .under_pb .tong{
        width: 100%;
    }
}

@media screen and (max-width:1000px){
    .under_pb .tong .first{
        width: 40%;
    }

    .under_pb .tong .first p:first-child{
        display: none;
    }
    .under_pb .tong .first p:last-child{
        display: none;
    }
    
}

@media screen and (max-width:800px){
     .under_pb .tong img{
        width: 100px;
    }
}


header {
    width: 100%;
    height: 60px;
    margin-top: 10px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: sticky;
    top: 0;
    left: 0;
    z-index: 1000; */
}

header a:hover{
    text-decoration: none;
    color: black;
}

.hd {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.task_bar {
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.task_bar a {
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    height: 100%; /* Đảm bảo thẻ <a> chiếm toàn bộ chiều cao của phần tử cha */
}

.hd .task_bar a:hover{
    background-color: #fff;
}



.task_bar ul {
    background-color: #f8f8f8; 
    border-right: 1px solid #ccc; 
    width: 300px; 
    height: 100vh; 
    overflow-y: auto;
    overflow-x: hidden; 
    position: fixed; 
    top: 0;
    left: 0;
    display: none;
}

.task_bar ul li {
    display: block; 
}

.task_bar ul li a {
    color: #333; 
    padding: 10px 15px;
    display: block; 
}

.task_bar a:hover {
    background-color: #ddd; 
    color: #000;
}

.image.header {
    width: 15%; 
}

.image2{
    width: 50px;
    height: 50px;
    display: none;
}

.image2 img{
    width: 100%;
    height: 100%;
}

.image.header img {
    width: 200px;
    padding: 10px 10px 0px 0px;
    /* height: auto;  */
    /* object-fit: cover; */
}

header .hd .option1 {
    width: 13%; 
    height: 60px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .hd .option1 .cap1 {
    width: auto;
    height: 80%;
    padding: 0px 16px;
    position: relative;
    border-radius: 30px;
}

/* header .hd .option1 .cap1:first-child{
    width: auto;
} */

header .hd .option1 >.cap1 >a{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

header .hd .option1 .cap1  a:hover{
    background-color: #e0e0e0;
}

/* .hd .option1.header .cap1:first-child {
    padding: 0;
} */

.hd .search {
    padding-left: 10px;
    width: 35%;
    height: 90%;
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 2px solid #e0e0e0;
    overflow: hidden;
    border-radius: 20px;
}

.hd .search div {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.hd .search input {
    width: 100%;
    border: none;
    outline: none;
    height: 100%; 
    font-size: 16px;
    padding: 10px 0; 
}


.option1.header .cap1:hover {
    background-color: #e0e0e0;
}

/* .option1.header .cap1:hover .option2{
    display: block;
} */


.option2 {
    min-width: 170px;
    position: absolute;
    top: 0;
    left: 50%; 
    transform: translateX(-50%);
    display: none;
    z-index: 1005 !important;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 10px;
    border-radius: 10px;
}

.option2 .cap2 a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 5px 10px;
}

.option2 .cap2 a:hover {
    background-color: #f0f0f0;
}

.option2 .cap2:first-child {
    border-bottom: none;
}

/* .option2 .cap2:hover {
    background-color: aquamarine;
} */

.option2.active {
    display: block; /* Hiển thị khi có lớp active */
}

.hd .cuoi.header {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
}

.cuoi.header a {
    height: 80%;
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 0px 10px;
}

.cuoi.header a p {
    margin: 0px 10px 0px 0px;
}

.cuoi.header a:hover {
    background-color: #e0e0e0;
}

.ngan_cach {
    background-color: rgb(137, 134, 134);
    height: 20px;
    margin: 15px 5px;
    width: 1px;
}

.dang_nhap {
    width: 80px;
    background-color: black;
    color: #fff;
    line-height: 50px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
}

.hd .cuoi .ha{
    width: 50px;
    height: 100%;
    display: none;
}

.ha svg{
    width: 100%;
    height: 50px;
    padding: 0;
}



.svg-container {
    display: flex;
    justify-self: center;
    align-self: center;
}

@media screen and (max-width: 1300px) {
    header{
        width: 100vw;
        height: 50px;
    }
    header .task_bar {
        display: block;
        width: 40px;

    }

    header .cuoi a:first-child {
        display: none;
    }

    header .cuoi{
        justify-content: end;
    }

    .hd{
        width: 95%;
        justify-content: space-between;
    }

    .hd .search{
        width: 300px;
    }

    header .hd .option1 {
        display: none;
    }

    header .option1 {
        width: auto;
    }
    .under_header{
        display: none;
    }
}

@media screen and (max-width: 1480px){
    .hd .cuoi .dang_nhap{
        display: none;
    }
    .hd .cuoi .ha{
        display: block;
    }
}

@media screen and (max-width: 900px){
    .hd .search{
        width: 200px;
    }
    .image.header{
        display: none;
    }
    .image2{
        display: block;
    }
}


/* @media screen and (max-width: 720px){
    main .title{
        display: none;
    }
} */

@media screen and (max-width: 360px){
    main .option{
        flex-wrap: wrap;
    }
}

.under_header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.under_header  >ul {
    padding-left: 10px;
    width: 80%;
    height: 100%;
    margin: 0px 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* padding: 0px 0px 0px 170px; */
}

.under_header > ul > li {
    width: auto;
    height: 100%;
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    align-content: center;
}



.under_header > ul > li > a {
    width: 100%;
    height: 100%;
    line-height: 50px;
    text-decoration: none;
    color: black;
}

.under_header > ul > li>a:hover {
    border-bottom: 2px solid black;
}

@media screen and (max-width: 1300px) {
    .under_header {
        display: none;
    }
}

.links{
    padding-left: 20px;
    width: 100%;
    height: 40px;
}

.links div{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(139, 125, 99, 0.737);
}

.links div > p,
.links div >p>a{
    text-decoration: none;
    font-weight: normal;
    font-size: 13px;
}

.links div >p>a:hover{
    color: black;
}

@media screen and (max-width : 1080px){
    .links{
        padding: 10px 0px;
    }

    .links div{
        width: 90%;
    }
    
}

@media screen and (max-width : 800px){
    .links{
        display: none;
    }
}

main .big_pic{
    width: 100%;
    height: 480px;
    position: relative;
    margin-bottom: 10px;
}

.big_pic img:first-child{
    width: 100%;
    height: 100%;
}

.big_pic .trong{
    width: auto;
    height: 100px;
    position: absolute;
    bottom: 50px;
    left: 100px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}



.big_pic .trong a{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.big_pic .trong a>img{
    width: 88px;
    height: 88px;
}

.big_pic .trong2 p{
    color: #fff;
    margin: 0;
}

.big_pic .trong2 p:first-child{
    font-size: 30px;
    font-weight: normal;
}

.big_pic .trong2 p:last-child{
    font-size: 50px;
}

.big_pic .mo{
    width: 100%;
    height: 40%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
}


@media screen and (max-width: 1080px) {
    main .big_pic{
        height: 400px;
    }

    .big_pic .trong {
        flex-direction: column;
        bottom: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    

    .big_pic .trong a>img{
        margin: auto;
    }

    .big_pic .trong2 p:first-child{
        text-align: center;
        font-size: 15px;
    }
    
    .big_pic .trong2 p:last-child{
        text-align: center;
        font-size: 25px;
    }
    .big_pic .mo{
        bottom: auto;
        height: 250px;
        top: 25%; 
        left: 0;
    }
}

.boc_rh{
    width: 100%;
    height: auto;
    padding: 20px 0px 10px 0px;
    background-color: #fff;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000 !important;
}

.real_header{
    width: 80%;
    height: 60px;
    padding-top: 10px;
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;

}

.real_header .trai{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.real_header .trai>a{
    width: 100%;
    /* padding: 0px 40px; */
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: 1px solid black;
    text-decoration: none;
    color: black;
}

.real_header .trai>a svg{
    margin-left: 10px;
}

.real_header .trai>a .len{
    display: none;
}

.real_header .trai>a:hover{
    background-color: black;
    color: #fff;
}

.real_header .trai>a:hover >svg{
    fill: #fff;
}

.real_header .trai .option_rh {
    background-color: #fff;
    width: 200px;
    max-height: 150px;
    padding: 10px 20px;
    border-radius: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    list-style-type: none;
    position: absolute;
    top: 50px;
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 2001 ;
    border: 2px solid black;
    display: none;
}

.real_header .trai .option_rh li{
    width: 100%;
    height: 40px;
}

.real_header .trai .option_rh li a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.real_header .trai .option_rh li a:hover{
    background-color: rgb(162, 157, 157);
}



.real_header .giua{
    width: 5%;
    height: 100%;
    position: relative;
}

.real_header .giua::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 80%;
    background-color: #000;
    left: 50%;
    transform: translateX(-50%);
    transform: translateY(10%);
}

.real_header .phai{
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.real_header .phai #mot {
    width: 97.5%;
    height: 80%;
    position: relative;
    overflow: hidden;
}

.real_header .phai #mot .carousel {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
}

.real_header .phai #mot .carousel .carousel-item {
    min-width: 150px;
    height: 100%;
    border-radius: 30px;
    border: 1px solid black;
    display: flex;
    margin: 0px 10px 0px 0px;
}

.real_header .phai #mot .carousel .carousel-item:first-child {
    min-width: 80px;
}

.real_header .phai #mot .carousel .carousel-item > a {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.real_header .phai #mot .carousel .carousel-item > a > svg {
    margin-right: 8px;
}

.real_header .phai #mot .carousel .carousel-item:first-child {
    margin-left: 50px;
    background-color: black;
}

.real_header .phai #mot .carousel .carousel-item:first-child > a {
    color: #fff;
}

.real_header .phai #mot .carousel .carousel-item:first-child > a > svg {
    fill: #fff;
}

.real_header .phai #mot .carousel .carousel-item:hover {
    background-color: black;
}

.real_header .phai #mot .carousel .carousel-item:hover > a {
    color: #fff;
}

.real_header .phai #mot .carousel .carousel-item:hover > a > svg {
    fill: #fff;
}

.real_header .phai #mot .carousel .carousel-item:first-child:hover {
    background-color: #333;
}

#mot .carousel-button {
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 2000 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mot .carousel-button.prev {
    top: 0;
    left: 0;
}

#mot .carousel-button.next {
    top: 0;
    right: 0;
}

@media screen and (max-width: 1080px) {
    .real_header {
        width: 99%;
        margin: auto;
        height: auto;
        flex-direction: column;
    }

    .real_header .trai {
        width: 100%;
        height: 50px;
    }

    .real_header .trai .option_rh {
        width: 100%;
    }

    .real_header .trai > a {
        width: 100%;
        height: 100%;
    }

    .real_header .giua {
        display: none;
    }

    .real_header .phai {
        width: 100%;
        height: 50px;
    }
}


main .title{
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 40px;
    border-bottom: 2px solid rgb(224, 156, 131);
}

.title p:first-child{
    font-size: 30px;
}


.title p:nth-child(2),
.title p:last-child{
    width: 65%;
    font-weight: normal;
    font-size: 14px;
}

@media screen and (max-width:1080px){
    main .title{
        width: 100%;
        padding: 0px 20px;
    }

    .title p:nth-child(2),
    .title p:last-child{
    width: 100%;
    font-weight: normal;
    font-size: 14px;
    }
}


main #carousel6 {
    position: relative;
    width: 80%;
    height: 500px;
    margin: auto;
    overflow: hidden;
}

#carousel6 .carousel {
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

#carousel6 .carousel-item {
    min-width: 100%;
    height: 100%;
    padding: 0px 10px;
    display: block;
    margin-right: 0;
    /* box-sizing: border-box; */
    /* position: relative; */
}

#carousel6 .carousel img {
    width: 100%;
    height: 100% !important;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0 !important; 
    border-bottom-right-radius: 0 !important; 
}


#carousel6 .card-title {
    width: 100%;
    padding: 10px;
    text-align: left;
    font-weight: bold;
    margin: 0;
}

#carousel6 .card-iteam .rating {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
}

#carousel6 .rating svg {
    margin-right: -5px; 
}

#carousel6 .card-iteam .rating span {
    margin-left: 10px;
    color: rgb(60, 59, 59);
}

#carousel6 .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    cursor: pointer;
    z-index: 998;
}

#carousel6 .carousel-button.prev {
    left: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 50%;
}

#carousel6 .carousel-button.next {
    right: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 50%;
}

#carousel6 .carousel-button svg {
    margin: auto;
}

#carousel6 .favorite-button {
    position: absolute;
    right: 4%;
    top: 10%;
    transform: translateY(-50%);
    background: rgb(249, 246, 246);
    border: 2px solid rgb(251, 250, 250);
    color: rgb(254, 250, 250);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    transition: background 0.3s, color 0.3s, border-color 0.3s;
}

#carousel6 .heart-icon {
    width: 24px;
    height: 24px;
    transition: fill 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1080px) {
    main #carousel6 {
        width: 99%;
        margin: auto;
        border-radius: unset;
    }

    #carousel6 .carousel {
        width: 100%;
    }
}


#carousel6 .carousel img {
    width: 100%;
    height: 60%;
    display: block;
    border-radius: 10px;
}

#carousel6 .carousel .carousel-item .card-title {
    width: 100%;
    color: #fff;
    font-size: 25px;
    padding: 0;
}

#carousel6 .carousel .carousel-item .trong_suot {
    width: 90%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 40%;
    left: 12px;
    padding: 10px;
    display: flex;
    align-items: flex-end;
    border-radius: 0 0 10px 10px;
}

#carousel6 .carousel-item .con_cu{
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 10;
    left: 5%;
    bottom: 5%;
}


main .duoi_pb {
    width: 78.6%;
    height: auto;
    margin: auto;
    background-color: #f2f1ec;
    margin-bottom: 40px;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px; 
}


.duoi_pb .trai{
    width: 60%;
    height: 100%;
}

.duoi_pb .trai>p:first-child,
.r2 .phai>p:first-child{
    font-weight: normal;
    font-size: 20px;
    margin: 0;
}

.duoi_pb .trai .chu_to,
.r2 .phai .chu_to{
    display: block;
    font-size: 35px;
}

.duoi_pb .trai .chu_to:hover{
    text-decoration: none;
    color: black;
}

.duoi_pb .trai .dia_chi,
.r2 .phai .dia_chi{
    display: block;
    font-weight: normal;
    text-decoration: underline;
    margin-bottom: 20px;
}

.duoi_pb .trai .dia_chi:hover{
    color: black;
}

.duoi_pb .trai .chu,
.r2 .phai .chu{
    margin-bottom: 20px;
}

.duoi_pb .trai .chu p,
.r2 .phai .chu p{
    font-weight: normal;
    margin-bottom: 0;
}

.duoi_pb .trai .chu .an,
.duoi_pb .trai .chu .less,
#carousel2 .carousel-item .an,
#carousel2 .carousel-item .less,
.r2 .phai .chu .an,
.r2 .phai .chu .less
{
    display: none;
}


.duoi_pb .trai .chu .less,
.duoi_pb .trai .chu .more,
#carousel2 .carousel-item .less,
#carousel2 .carousel-item .more,
.r2 .phai .chu .less,
.r2 .phai .chu .more
{
    text-decoration: underline;
    color: black;
}

.duoi_pb .trai .chu .less:hover,
.duoi_pb .trai .chu .more:hover,
#carousel2 .carousel-item .less:hover,
#carousel2 .carousel-item .more:hover,
.r2 .phai .chu .less:hover,
.r2 .phai .chu .more:hover
{
    color: rgb(92, 89, 89);
}

.duoi_pb .trai .bf_tron{
    margin-bottom: 20px;
}

.duoi_pb .trai .tron,
.r2 .phai .tron{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
}

.duoi_pb .trai .tron p,
.r2 .phai .tron p{
    padding: 10px 10px;
    margin-right: 10px;
    background-color: #fff;
    border-radius: 20px;
    font-weight: normal;
}

.duoi_pb .phai{
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: normal;
}

.phai > p{
    font-weight: normal;
    width: 100%;
    text-align: center;
    font-size: 24px;
}

.phai > p svg{
    fill:  rgb(90, 209, 90);
}

.phai >a {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.phai > a:hover{
    text-decoration: none;
    color: black;
}

.phai > a > .cha {
    font-weight: normal;
    width: 80%;
    height: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.phai > a > .cha .con{
    width: 50%;
    height: 50%;
    background-color: rgb(90, 209, 90);
    border-radius: 20px;
}

@media screen and (max-width: 1080px){
    main .duoi_pb{
        width: 99%;
        flex-direction: column;
        padding: 10px;
    }
    .duoi_pb .trai,
    .duoi_pb .phai{
        width: 100%;
        justify-content: start;
    }
    .duoi_pb .trai .chu_to{
        width: 100%;
        font-size: 25px;
    }
}



/*  */
main .carousel-container {
    position: relative;
    width: 80%;
    height: auto;
    margin: auto;
    overflow: hidden;
}

#carousel2{
    margin-bottom: 80px;
}

#carousel2 .carousel {
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

#carousel2 .carousel-item {
    min-width: 40%;
    height: 100%;
    padding: 20px;
    display: block;
    margin-right: 20px;
    border-radius: 10px;
    border: 2px solid rgb(155, 150, 150);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#carousel2 .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    cursor: pointer;
    /* z-index: 1000 !important;  */
}

#carousel2 .carousel-button.prev {
    left: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 50%;
}

#carousel2 .carousel-button.next {
    right: 0px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 50%;
}

#carousel2 .carousel-button svg {
    margin: auto;
}

@media screen and (max-width:1080px){
    main #carousel2 {
        width: 99%;
    }

    #carousel2 .carousel {
        width: 100%;
    }
}

@media screen and (max-width: 700px){
    #carousel2 .carousel-item {
        min-width: 80%;
    }
}

#carousel2 .carousel-item>.rank{
    fill: rgb(94, 197, 94);
    margin-bottom: 10px;
}

#carousel2 .carousel-item p{
    font-weight: normal;
    margin-bottom: 0;
}

#carousel2 .carousel-item .reviewer{
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid rgb(120, 115, 115);
    display: flex;
    align-items: center;
}

#carousel2 .carousel-item .reviewer img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#carousel2 .carousel-item .reviewer p{
    font-size: 12px;
}

#carousel2 .carousel-item .reviewer .mot{
    font-weight: bold;
    width: 40%;
}

#carousel2 .carousel-item .reviewer .ba{
    font-weight: bold;
    margin-left: 5px;
}


main .r2{
    width: 80%;
    height: auto;
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    padding: 40px 0px;
    justify-content: space-between;
}

main .r2.dau{
    margin-top: 50px;
    border-top: 2px solid rgb(224, 156, 131);
}

.r2 .trai{
    width: 45%;
    height: 450px;
    position: relative;
}

.r2 .trai>a{
    width: 100%;
    height: 450px;
}

.r2 .trai>a>img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


.r2 .trai .favorite-button {
    position: absolute;
    right: 4%;
    top: 10%;
    transform: translateY(-50%);
    background: rgb(249, 246, 246);
    border: 2px solid rgb(251, 250, 250);
    color: rgb(254, 250, 250);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    transition: background 0.3s, color 0.3s, border-color 0.3s;
}

.r2 .trai .heart-icon {
    width: 24px;
    height: 24px;
    transition: fill 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.r2 .trai .con_cu{
    width: 40px;
    height: 40px;
}

.r2 .trai .con_cu>img{
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 10;
    left: 3%;
    bottom: 3%;
}

.r2 .phai{
    width: 50%;
    height: auto;
}

.r2 .phai .tron p{
    background-color: #f2f1ec;
}

.r2 .phai>p{
    text-align: start;
}

.r2 .phai .chu_to{
    height: auto;
}

.r2 .phai .dia_chi{
    height: auto;
}

.r2 .phai .danh_gia{
    margin-bottom: 10px;
}

.r2 .phai .danh_gia svg{
    fill: rgb(108, 198, 108);
}

@media screen and (max-width:1080px){
    main .r2{
        width: 99%;
        margin: auto;
        flex-direction: column;
        justify-content: center;
    }

    .r2 .trai, .r2 .phai{
        width: 90%;
        margin: auto;
    }

    .r2 .trai{
        height: 300px;
    }
}

main .giua_web{
    width: 100%;
    height: 480px;
    position: relative;
}

.giua_web .anh_to,
.giua_web .anh_nho{
    width: 100%;
    height: 100%;
}

.giua_web .anh_nho{
    display: none;
}

.giua_web > div {
    max-width: 500px;
    position: absolute; 
    top: 50%; 
    left: 65%; 
    transform: translate(-50%, -50%); 
}

.giua_web > div p{
    font-weight: normal;
    font-size: 20px;
}

.giua_web > div p:first-child{
    font-weight: bold;
    font-size: 50px;
    margin: 0;
}

@media screen and (max-width: 1080px) {
    .giua_web .anh_to {
        display: none;
    }

    .giua_web .anh_nho {
        display: block;
    }

    .giua_web > div {
        height: 150px;
        position: absolute;
        top: unset;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
    }
    giua_web > div p{
        font-size: 15px;
    }
    
    .giua_web > div p:first-child{
        font-size: 25px;
    }
}


@media screen and (max-width: 800px) {
    .giua_web >div{
        width: 400px;
    }

    giua_web > div p{
        font-size: 8px;
    }
    .giua_web > div p:first-child{
        font-size: 20px;
    }
}

.gan_cuoi{
    width: 100%;
    height: 500px;
    position: relative;
}

.gan_cuoi >img{
    width: 100%;
    height: 100%;
}

.gan_cuoi .tong {
    width: 80%;
    height: auto;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gan_cuoi .tong .trai,
.gan_cuoi .tong .phai{
    width: 45%;
    min-height: 250px;
}

.gan_cuoi .tong .trai p{
    font-size: 21px;
    /* margin-bottom: 20px; */
    color: #fff;
}

.gan_cuoi .tong .trai p:first-child{
    font-size: 40px;
    margin-bottom: 5px;
}

.gan_cuoi .tong .trai .hai{
    padding-bottom: 10px;
    margin-bottom: 35px;
}

.gan_cuoi .tong .trai a{
    padding: 10px 15px;
    background-color: #fff;
    border-radius: 20px;
    font-weight: normal;
}

.gan_cuoi .tong .phai{
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 20px;
}

.gan_cuoi .tong .phai svg{
    fill: rgb(108, 200, 108);
}

.gan_cuoi .tong .phai p{
    text-align: start;
}

.gan_cuoi .tong .phai> .mot{
    font-weight: bold;
    margin-bottom: 0;
}

.gan_cuoi .tong .phai> .hai{
    font-size: 17px;
    margin-bottom: 20px;
}

.gan_cuoi .tong .phai .ngoai{
    width: 100%;
    height: auto;
    display: flex;
}

.gan_cuoi .tong .phai .ngoai img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.gan_cuoi .tong .phai .ngoai .trong{
    width: 80%;
}


.gan_cuoi .tong .phai .ngoai .tren,
.gan_cuoi .tong .phai .ngoai .duoi{
    display: flex;
    justify-content: space-between;
}

.gan_cuoi .tong .phai .ngoai .tren p:first-child{
    font-size: 15px;
}

.gan_cuoi .tong .phai .ngoai .tren p:last-child{
    font-weight: normal;
    font-size: 15px;
}

.gan_cuoi .tong .phai .ngoai .tren p,
.gan_cuoi .tong .phai .ngoai .duoi p{
    margin: 0;
}

.gan_cuoi .tong .phai .ngoai .trong .duoi p{
    font-weight: normal;
    font-size: 13px;
}

.gan_cuoi .tong .phai .ngoai .duoi>a{
    font-size: 15px;
}

@media screen and (max-width: 1080px){
    .gan_cuoi{
        height: 600px;
    }
    .gan_cuoi .tong{
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }

    .gan_cuoi .tong .phai{
        width: 70%;
        height: auto;
    }

    .gan_cuoi .tong .trai{
        width: 80%;
    }

    .gan_cuoi .tong .phai> .mot{
        font-weight: bold;
        font-size: 15px;
    }
    
    .gan_cuoi .tong .phai> .hai{
        font-size: 14px;
    }

    .gan_cuoi .tong .phai .ngoai .tren p:first-child{
        font-size: 13px;
    }


    .gan_cuoi .tong .phai .ngoai .tren p:last-child{
        font-size: 10px;
    }

    .gan_cuoi .tong .phai .ngoai .trong .duoi p{
        font-weight: normal;
        font-size: 10px;
    }
    
    .gan_cuoi .tong .phai .ngoai .duoi>a{
        font-size: 11px;
    }
}

@media screen and (max-width: 700px){
    .gan_cuoi .tong .phai .ngoai .tren p:first-child{
        font-size: 10px;
    }


    .gan_cuoi .tong .phai .ngoai .tren p:last-child{
        font-size: 8px;
    }

    .gan_cuoi .tong .phai .ngoai .trong .duoi p{
        font-weight: normal;
        font-size: 10px;
    }
    
    .gan_cuoi .tong .phai .ngoai .duoi>a{
        font-size: 10px;
        text-align: end;
    }
}

main .AI{
    width: 50%;
    height: auto;
    margin: auto;
    margin-top: 50px;
}

main .AI p{
    text-align: center;
}

main .AI .tren{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .AI .tren>div{
    width: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #dfd3ee;
    margin-right: 15px;
}


main .AI .tren p{
    margin: 0;
    font-weight: normal;
}

.AI >p{
    font-weight: normal;
}

@media screen and (max-width: 1080px){
    main .AI{
        width: 80%;
        height: auto;
        margin: auto;
    }
}

main .gach_chan{
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    margin-top: 80px;
    margin-bottom: 100px;
}

main .gach_chan .trai{
    width: 40%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gach_chan .trai p{
    font-size: 23px;
    margin: 0;
}

.gach_chan .phai {
    width: 60%;
    height: 30px;
    position: relative;
}

.gach_chan .phai::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px; 
    background-color: rgb(224, 156, 131); 
    transform: translateY(-50%); 
}

@media screen and (max-width: 1080px){
    main .gach_chan{
        width: 90%;
    }

    .gach_chan .trai,
    .gach_chan .phai{
        height: 50px;
    }
    .gach_chan .trai{
        width: 50%;
    }

    .gach_chan .phai{
        width: 50%;
    }


    .gach_chan .trai p{
        font-size: 20px;
    }
}

@media screen and (max-width: 800px){
    .gach_chan .trai p{
        font-size: 15px;
    }
}

main #carousel7 {
    position: relative;
    width: 80%;
    height: 350px;
    margin: auto;
    overflow: hidden;
}

#carousel7 .carousel {
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

#carousel7 .carousel-item {
    min-width: 25%;
    height: 100%;
    padding: 0px 10px;
    display: block;
    margin-right: 0;
    /* box-sizing: border-box; */
    /* position: relative; */
}

#carousel7 .carousel .carousel-item img {
    width: 100%;
    height: 70%;
    display: block;
    border-radius: 10px;
}

#carousel7 .card-title {
    width: 100%;
    padding: 10px;
    text-align: left;
    font-weight: bold;
    margin: 0;
}

#carousel7 .card-iteam .rating {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
}

#carousel7 .rating svg {
    margin-right: -5px; 
}

#carousel7 .card-iteam .rating span {
    margin-left: 10px;
    color: rgb(60, 59, 59);
}

#carousel7 .carousel-button {
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    cursor: pointer;
    z-index: 998;
}

#carousel7 .carousel-button.prev {
    left: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 50%;
}

#carousel7 .carousel-button.next {
    right: 1px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 50%;
}

#carousel7 .carousel-button svg {
    margin: auto;
}

@media screen and (max-width: 1080px) {
    main #carousel7 {
        width: 90%;
    }

    #carousel7 .carousel {
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    #carousel7 .carousel-item {
        min-width: 33%;
    }
}

@media screen and (max-width: 700px) {
    #carousel7 .carousel-item {
        min-width: 50%;
    }
}

#carousel7 .carousel img {
    width: 100%;
    height: 60%;
    display: block;
    border-radius: 10px;
}

#carousel7 .carousel .carousel-item .card-title {
    width: 100%;
    color: #fff;
    font-size: 25px;
    padding: 0;
}

#carousel7 .carousel .carousel-item .trong_suot {
    width: 90.5%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 30%; /* Chỉnh lại giá trị để nó nằm ở đáy */
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    display: flex;
    align-items: flex-end;
    border-radius: 0 0 10px 10px;
}


footer {
    width: 100%;
    height: auto;
    background-color: rgb(236, 209, 209);
    margin-top: 30px;
    padding: 40px;
    display: flex;
}

footer .trai{
    width: 65%;
    height: auto;
    display: flex;
    flex-direction: column;
}

footer .trai .tren{
    display: flex;
}

footer .trai .tren img{
    width: 50px;
    height: 100%;
    margin-right: 10px;
}

footer .trai .tren p,
footer .trai .tren a{
    font-weight: normal;
}

footer .trai .tren .phai_anh{
    width: 80%;
    display: flex;
    flex-direction: column;
}

footer .trai .tren .phai_anh ul{
    width: 70%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

footer .trai .tren .phai_anh p{
    margin: 0;
    font-size: 13px;
}

footer .trai .tren .phai_anh ul>li{
    display: block;
    width: auto;
    margin-right: 15px;
}

footer .trai .tren .phai_anh ul li a{
    font-weight: bold;
    font-size: 15px;
    text-decoration: underline;
}

footer .trai .tren .phai_anh ul li a:hover{
    color: rgb(64, 63, 63);
}

footer .trai .duoi{
    width: 90%;
}

footer .trai .duoi p{
    font-weight: normal;
    font-size: 14px;
    margin: 5px;
}

footer .trai .duoi p a:hover{
    text-decoration: underline;
}

footer .trai .duoi .an{
    display: none;
}

footer .phai{
    width: 34%;
    height: auto;
}

footer .phai .tren{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    position: relative;
}

footer .phai .tren .nut{
    min-width: 45%;
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .phai .tren .nut svg{
    margin: 0px 0px 0px 10px;
}

footer .phai .tren .nut .len1{
    display: none;
}

footer .phai .tren .nut:hover{
    background-color: #b2aaaa;
}

footer .phai .duoi{
    width: 95%;
    height: 50px;
    display: flex;
    justify-content: end;
}

footer .phai .duoi a{
    width: auto;
    height: 100%;
    margin-left: 20px;
    line-height: 50px;
    display: inline-block;
}

footer .phai .duoi a svg{
    width: 30px;
    height: 30px;
}

footer .phai .duoi a svg:hover{
    fill: rgb(85, 82, 82);
}

footer .phai .tren  > .lists {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 40%;
    max-height: 150px; 
    overflow-y: scroll;
    overflow-x: hidden; 
    background-color: white; 
    border: 1px solid #ccc; 
    padding: 20px; 
    z-index: 10;
    border-radius: 10px;
    display: none;
}


footer .phai .tren  > .lists>li{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
}

footer .phai .tren  > .lists>li a{
    width: 100%;
    height: 100%;
    padding-left: 10px;
}

footer .phai .tren  > .lists>li a:hover{
    background-color: rgb(190, 184, 184);
}

footer .phai .tren > .lists.mot {
    position: absolute;
    left: 25%;
    top: -150%;
}

footer .phai .tren > .lists.hai{
    position: absolute;
    left: 75%;
    top: -150%;
}

footer .phai .tren .lists.active {
    display: block;
}

@media screen and (max-width: 1080px){
    footer{
        flex-direction: column-reverse;
    }

    footer .trai,
    footer .phai{
        width: 100%;
    }
    
    footer .trai .tren .phai_anh ul{
        width: 100%;
    }

    footer .trai .duoi p{
        width: 100%;
    }
}
