* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #fff; */
}

p,a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Arial", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

a:hover{
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
}

body{
    margin-top: 10px;
    background-color: #fff;
    position: relative;
    overflow-x: hidden;
}

body .tren_cung {
    width: 100vw; 
    height: 100vh;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 2000;
    background-color: rgba(51, 51, 51, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.tren_cung > div {
    width: 40%;
    height: 80%;
    background-color: #fff;
    border-radius: 20px;
    padding: 40px;
}

.tren_cung > div>img:first-child{
    width: 250px;
}

.tren_cung > div> .first{
    width: 60%;
    font-size: 25px;
    margin-bottom: 70px;
}

.tren_cung > div> .nut{
    display: block;
    width: 100%;
    height: 50px;
    background-color: #fff;
    border-radius: 40px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-weight: normal;
}

.nut img, .nut svg{
    width: 30px;
    height: 30px;
    margin-left: 20px;
    margin-right: 20%;
}

.tren_cung div .cuoi1,.cuoi2{
    width: 90%;
    margin: auto;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
}

.tren_cung div .cuoi1{
    margin-top: 60px;
    width: 70%;
}

.tren_cung div .cuoi1 a,.cuoi2 a{
    font-weight: normal;
    font-size: 14px;
    text-decoration: underline;
}

@media screen and (max-width:1080px){
    .tren_cung div{
        width: 90%;
        height: 90%;
    }
    .tren_cung div .cuoi1{
        margin-top: 50px;
        width: 80%;
    }
}

/* .tren_cung.active {
    display: flex;
} */


header {
    width: 100%;
    height: 60px;
    margin-top: 10px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

.hd {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.task_bar {
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.task_bar a {
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    height: 100%; /* Đảm bảo thẻ <a> chiếm toàn bộ chiều cao của phần tử cha */
}

.hd .task_bar a:hover{
    background-color: #fff;
}



.task_bar ul {
    background-color: #f8f8f8; 
    border-right: 1px solid #ccc; 
    width: 300px; 
    height: 100vh; 
    overflow-y: auto;
    overflow-x: hidden; 
    position: fixed; 
    top: 0;
    left: 0;
    display: none;
}

.task_bar ul li {
    display: block; 
}

.task_bar ul li a {
    color: #333; 
    padding: 10px 15px;
    display: block; 
}

.task_bar a:hover {
    background-color: #ddd; 
    color: #000;
}

.image.header {
    width: 15%; 
}

.image2{
    width: 50px;
    height: 50px;
    display: none;
}

.image2 img{
    width: 100%;
    height: 100%;
}

.image.header img {
    width: 200px;
    padding: 10px 10px 0px 0px;
    /* height: auto;  */
    /* object-fit: cover; */
}

header .hd .option1 {
    width: 13%; 
    height: 60px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .hd .option1 .cap1 {
    width: auto;
    height: 80%;
    padding: 0px 16px;
    position: relative;
    border-radius: 30px;
}

/* header .hd .option1 .cap1:first-child{
    width: auto;
} */

header .hd .option1 >.cap1 >a{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

header .hd .option1 .cap1  a:hover{
    background-color: #e0e0e0;
}

/* .hd .option1.header .cap1:first-child {
    padding: 0;
} */

.hd .search {
    padding-left: 10px;
    width: 35%;
    height: 90%;
    display: flex;
    align-items: center;
    background-color: #fff;
    /* box-shadow: 1px 1px 10px 1px rgba(39, 38, 38, 0.1), 1px 1px 10px 1px rgba(34, 32, 32, 0.1); */
    border: 2px solid #e0e0e0;
    overflow: hidden;
    border-radius: 20px;
}

.hd .search div {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.hd .search input {
    width: 100%;
    border: none;
    outline: none;
    height: 100%; 
    font-size: 16px;
    padding: 10px 0; 
}


.option1.header .cap1:hover {
    background-color: #e0e0e0;
}

/* .option1.header .cap1:hover .option2{
    display: block;
} */


.option2 {
    min-width: 170px;
    position: absolute;
    top: 0;
    left: 50%; 
    transform: translateX(-50%);
    display: none;
    z-index: 1005 !important;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 10px;
    border-radius: 10px;
}

.option2 .cap2 a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 5px 10px;
}

.option2 .cap2 a:hover {
    background-color: #f0f0f0;
}

.option2 .cap2:first-child {
    border-bottom: 1px none;
}

/* .option2 .cap2:hover {
    background-color: aquamarine;
} */

.option2.active {
    display: block; /* Hiển thị khi có lớp active */
}

.cuoi.header {
    width: 15%;
    display: flex;
    align-items: center;
}

.cuoi.header a {
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 0px 10px;
}

.cuoi.header a p {
    margin: 0px 10px 0px 0px;
}

.cuoi.header a:hover {
    background-color: #e0e0e0;
}

.ngan_cach {
    background-color: rgb(137, 134, 134);
    height: 20px;
    margin: 15px 5px;
    width: 1px;
}

.dang_nhap {
    width: 80px;
    background-color: black;
    color: #fff;
    line-height: 50px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
}

.hd .cuoi .ha{
    width: 50px;
    height: 100%;
    display: none;
}

.ha svg{
    width: 100%;
    height: 50px;
    padding: 0;
}



.svg-container {
    display: flex;
    justify-self: center;
    align-self: center;
}

@media screen and (max-width: 1300px) {
    header{
        width: 100vw;
        height: 50px;
    }
    header .task_bar {
        display: block;
        width: 40px;
    }

    header .cuoi a:first-child {
        display: none;
    }

    header .cuoi{
        justify-content: end;
    }

    .hd{
        width: 95%;
        justify-content: space-between;
    }

    .hd .search{
        width: 300px;
    }

    header .hd .option1 {
        display: none;
    }

    header .option1 {
        width: auto;
    }

    main .title{
        height: auto;
    }

    main .option{
        height: auto;
    }

    main .option ul{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    main .option ul li{
        width: auto;
    }

    .under_header{
        display: none;
    }
}

@media screen and (max-width: 1480px){
    .hd .cuoi .dang_nhap{
        display: none;
    }
    .hd .cuoi .ha{
        display: block;
    }
}


@media screen and (max-width: 900px){
    .hd .search{
        width: 200px;
    }
    .image.header{
        display: none;
    }
    .image2{
        display: block;
    }
}

.under_header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 60px;
    left: 0px;
    background-color: #fff;
    z-index: 999;
}

.under_header  >ul {
    width: 80%;
    height: 100%;
    margin: 0px 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid rgb(183, 171, 156);
    /* padding: 0px 0px 0px 170px; */
}

.under_header > ul > li {
    width: auto;
    height: 100%;
    padding: 0px 15px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.under_header > ul > li > a {
    width: 100%;
    height: 100%;
    line-height: 50px;
}

.under_header > ul > li:last-child > a{
    border-bottom: 2px solid black;
}

.under_header > ul > li a:hover {
    border-bottom: 2px solid black;
}

@media screen and (max-width: 1300px) {
    .under_header {
        display: none;
    }
}

.under_pb {
    width: 80%;
    height: auto;
    margin: auto;
    background-color: rgb(241, 236, 241);
    /* border-radius: 20px; */
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-bottom: 40px;
}

#hai{
    margin-top: 20px;
    border-radius: 20px;
}

.under_pb .tong {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.under_pb .tong img {
    width: 140px;
    height: 100%;
    padding: 10px 0px 10px 10px;
    transform: rotate(-2.7deg);
    border-radius: 20px;
}


.under_pb .tong > .first {
    width: 60%;
    height: 100%;
}

.under_pb .tong > .last {
    width: 15%;
    height: 100%; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.under_pb .tong > .last a {
    font-size: 14px;
    background-color: #fff;
    color: black;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid black;
    text-decoration: none;
}

.under_pb .tong > .last a:hover{
    color: #fff;
    background-color: black;
}

.under_pb .tong > .first p:first-child {
    width: 29%;
    padding: 2px 10px;
    background-color: rgb(185, 181, 181);
    border-radius: 10px;
    font-weight: normal;
    font-size: 13px;
}

.under_pb .tong > .first p:last-child {
    font-weight: normal;
    font-size: 15px;
}

@media screen and (max-width:1300px){
    .under_pb{
        width: 100%;
        border-radius: 0;
    }
    .under_pb .tong{
        width: 100%;
    }
}

@media screen and (max-width:1000px){
    .under_pb .tong .first{
        width: 40%;
    }

    .under_pb .tong .first p:first-child{
        display: none;
    }
    .under_pb .tong .first p:last-child{
        display: none;
    }
    
}

@media screen and (max-width:800px){
     .under_pb .tong img{
        width: 100px;
    }
}

main .duoi_header{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 20px;
}

.duoi_header p{
    width: 80%;
    margin: auto;
    text-align: end;
    font-weight: normal;
    font-size: 13px;
}

@media screen and (max-width: 1000px){
    main .duoi_header{
        display: none;
    }
}

main .to_nhat{
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
}

.to_nhat .phan_duoi{
    width: 100%;
    height: 270px;
    background-color: #fff7e1;
    padding: 30px 0px;
    position: relative;
}

.phan_duoi .tong{
    width: 80%;
    height: 150px;
    margin: auto;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

.phan_duoi .tong .trai{
    width: 45%;
    height: 100%;
}

.phan_duoi .tong .phai{
    width: 50%;
    height: 100%;
}

.phan_duoi .tong .trai img{
    width: 270px;
    height: 50%;
}

.phan_duoi .tong .trai p{
    font-size: 45px;
    margin: 15px 0px 0px 0px;
}

.phan_duoi .tong .phai{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.phan_duoi .tong .phai .search{
    width: 70%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    border-radius: 20px;
    border: 2px solid rgb(139, 136, 136);
}

.phan_duoi .tong .phai .search svg{
    width: 25px;
    height: 25px;
}

.phan_duoi .tong .phai .search input {
    width: 75%;
    height: 100%;
    border: none; 
    outline: none;
    border-radius: 30px;
}

.phan_duoi .tong .phai a{
    width: 150px;
    height: 60px;
    color: #fff;
    background-color: black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    margin-left: 10px;
}

.phan_duoi .tong .phai a:hover{
    background-color: rgb(75, 73, 73);
}

.phan_duoi .an{
    width: 100%;
    height: 400px;
    background-color: #fff7e1;
    position: absolute;
    left: 0;
    top: 270px;
    z-index: -1;
}

.to_nhat .phan_tren{
    width: 80%;
    height: 560px;
    margin: auto;
    padding: 40px 50px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}



.to_nhat .phan_tren .mot p{
    font-weight: normal;
    font-size: 20px;
}

.to_nhat .phan_tren .mot>p:first-child{
    font-size: 50px;
}

.to_nhat .phan_tren .mot ul{
    width: 60%;
}

.to_nhat .phan_tren .mot ul li:last-child{
    margin-top: 40px;
}

.to_nhat .phan_tren .mot ul li a{
    font-weight: normal;
    font-size: 18px;
}

.to_nhat .phan_tren .mot ul li a:hover{
    color: rgb(86, 83, 83);
    text-decoration: underline;
}

.to_nhat .phan_tren .mot ul li:last-child a{
    padding: 10px 15px;
    color: #fff;
    background-color: black;
    border-radius: 20px;
    text-decoration: none;
    display: none;
}

.to_nhat .phan_tren .hai{
    width: 20%;
}

.to_nhat .phan_tren .hai p,
.to_nhat .phan_tren .ba p{
    width: 80%;
    font-size: 20px;
    margin-bottom: 30px;
}

.to_nhat .phan_tren .hai ul,
.to_nhat .phan_tren .ba ul{
    width: 100%;
}

.to_nhat .phan_tren .hai ul li,
.to_nhat .phan_tren .ba ul li{
    margin-bottom: 5px;
}

.to_nhat .phan_tren .hai ul li a,
.to_nhat .phan_tren .ba ul li a{
    font-weight: normal;
    font-size: 18px;
}

.to_nhat .phan_tren .hai ul li a:hover,
.to_nhat .phan_tren .ba ul li a:hover{
    color: rgb(86, 83, 83);
    text-decoration: underline;
}


@media screen and (max-width:1200px){
    .phan_duoi .tong{
        width: 90%;
        height: auto;
        align-items: start;
        flex-direction: column;
    }

    .phan_duoi .tong .trai{
        width: 100%;
    }

    .phan_duoi .tong .phai{
        width: 60%;
    }

    .to_nhat .phan_tren{
        width: 90%;
        height: auto;
        flex-direction: column;
    }

    .to_nhat .phan_tren .mot,
    .to_nhat .phan_tren .hai,
    .to_nhat .phan_tren .ba{
        width: 100%;
    }

    .to_nhat .tong .phai a{
        width: 150px;
        margin-left: 10px;
    }


}

@media screen and (max-width: 800px){
    .phan_duoi .tong .trai{
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .phan_duoi .tong .trai img{
        width: 200px;
        height: 50%;
    }

    .phan_duoi .tong .trai p{
        font-size: 30px;
    }

    .phan_duoi .tong .phai{
        display: none;
    }

    .to_nhat .phan_tren{
        width: 100%;
    }

    .to_nhat .phan_tren .mot>p:first-child{
        font-size: 40px;
    }

    .to_nhat .phan_tren .mot ul{
        width: 90%;
    }
    .to_nhat .phan_tren .mot ul li:last-child a{
        display: block;
        text-align: center;
    }
}

main .nho,.lon{
    width: 80%;
    margin: auto;
    font-size: 25px;
}

main .nho{
    margin-bottom: 30px;
}

.lon{
    font-size: 30px;
    margin-bottom: 30px;
}

@media screen  and (max-width:1080px){
    main .nho{
        font-size: 20px;
    }

    main .lon{
        font-size: 25px;
    }
}


main .carousel-container {
    position: relative;
    width: 80%;
    height: 350px;
    margin: auto;
    overflow: hidden;
}

.carousel {
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 33%;
    height: 100%;
    padding: 0px 15px;
    display: block;
    margin-right: 0;
}

.carousel img {
    width: 100%;
    height: 70%;
    display: block;
    border-radius: 10px;
}

.card-title {
    width: 100%;
    padding: 10px;
    text-align: left;
    font-weight: bold;
    margin: 0;
}
.card-iteam .rating {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
}

.rating svg {
    margin-right: -5px; 
}

.card-iteam .rating span {
    margin-left: 10px;
    color: rgb(60, 59, 59);
}

.carousel-button {
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    cursor: pointer;
    z-index: 998;

}

.carousel-button.prev {
    left: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 50%;
}

.carousel-button.next {
    right: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 50%;
}

.carousel-button svg{
    margin: auto;
}

@media screen and (max-width:1080px){
    main .carousel-container{
        width: 90%;
    }

    .carousel{
        width: 100%;
    }
}

@media screen and (max-width: 700px){
    .carousel-item{
        min-width: 50%;
    }
}

main .cuoi_cung{
    width: 80%;
    height: auto;
    margin: auto;
    padding-top: 40px;
    border-top: 1px solid #e0e0e0;
}

.cuoi_cung .tren{
    width: 100%;
    height: auto;
}

.cuoi_cung .tren li{
    width: 100%;
    margin-bottom: 20px;
}

.cuoi_cung .tren li>a{
    width: 100%;
    font-weight: normal;
}

.cuoi_cung .tren li>a>.len,
.cuoi_cung .tren li>a>.xuong{
    display: inline;
}

.cuoi_cung .tren li>a>.len {
    display: none;
}


.cuoi_cung .duoi{
    width: 100%;
    height: auto;
    padding-left: 40px;
    display: none;
}

.cuoi_cung .duoi li{
    width: 100%;
    margin-bottom: 20px;
}

.cuoi_cung .duoi li>a{
    width: 100%;
    font-weight: normal;
}

.cuoi_cung .tren li>a:hover,
.cuoi_cung .duoi li>a:hover{
    text-decoration: underline;
}

@media screen and (max-width:1080px){
    main .cuoi_cung{
        width: 90%;
        margin: auto;
    }
}

@media screen and (max-width:800px){
    main .cuoi_cung{
        display: none;
    }
}

footer {
    width: 100%;
    height: auto;
    background-color: rgb(236, 209, 209);
    margin-top: 0px;
    padding: 40px;
    display: flex;
}

footer .trai{
    width: 65%;
    height: auto;
    display: flex;
    flex-direction: column;
}

footer .trai .tren{
    display: flex;
}

footer .trai .tren img{
    width: 50px;
    height: 100%;
    margin-right: 10px;
}

footer .trai .tren p,
footer .trai .tren a{
    font-weight: normal;
}

footer .trai .tren .phai_anh{
    width: 80%;
    display: flex;
    flex-direction: column;
}

footer .trai .tren .phai_anh ul{
    width: 70%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

footer .trai .tren .phai_anh p{
    margin: 0;
    font-size: 13px;
}

footer .trai .tren .phai_anh ul>li{
    display: block;
    width: auto;
    margin-right: 15px;
}

footer .trai .tren .phai_anh ul li a{
    font-weight: bold;
    font-size: 15px;
    text-decoration: underline;
}

footer .trai .tren .phai_anh ul li a:hover{
    color: rgb(64, 63, 63);
}

footer .trai .duoi{
    width: 90%;
}

footer .trai .duoi p{
    font-weight: normal;
    font-size: 14px;
    margin: 5px;
}

footer .trai .duoi p a:hover{
    text-decoration: underline;
}

footer .trai .duoi .an{
    display: none;
}

footer .phai{
    width: 34%;
    height: auto;
}

footer .phai .tren{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    position: relative;
}

footer .phai .tren .nut{
    min-width: 45%;
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .phai .tren .nut svg{
    margin: 0px 0px 0px 10px;
}

footer .phai .tren .nut .len1{
    display: none;
}

footer .phai .tren .nut:hover{
    background-color: #b2aaaa;
}

footer .phai .duoi{
    width: 95%;
    height: 50px;
    display: flex;
    justify-content: end;
}

footer .phai .duoi a{
    width: auto;
    height: 100%;
    margin-left: 20px;
    line-height: 50px;
    display: inline-block;
}

footer .phai .duoi a svg{
    width: 30px;
    height: 30px;
}

footer .phai .duoi a svg:hover{
    fill: rgb(85, 82, 82);
}

footer .phai .tren  > .lists {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 40%;
    max-height: 150px; 
    overflow-y: scroll;
    overflow-x: hidden; 
    background-color: white; 
    border: 1px solid #ccc; 
    padding: 20px; 
    z-index: 10;
    border-radius: 10px;
    display: none;
}


footer .phai .tren  > .lists>li{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
}

footer .phai .tren  > .lists>li a{
    width: 100%;
    height: 100%;
    padding-left: 10px;
}

footer .phai .tren  > .lists>li a:hover{
    background-color: rgb(190, 184, 184);
}

footer .phai .tren > .lists.mot {
    position: absolute;
    left: 25%;
    top: -150%;
}

footer .phai .tren > .lists.hai{
    position: absolute;
    left: 75%;
    top: -150%;
}

footer .phai .tren .lists.active {
    display: block;
}

@media screen and (max-width: 1080px){
    footer{
        flex-direction: column-reverse;
    }

    footer .trai,
    footer .phai{
        width: 100%;
    }
    
    footer .trai .tren .phai_anh ul{
        width: 100%;
    }

    footer .trai .duoi p{
        width: 100%;
    }
}